@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #fa5c5c;
  --color-secondary: #d9d9d9;
  --color-tertiary: #fbef76;
  --color-accent: #fec288;
}
