@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #fa5c5c;
  --color-semi-primary: #fd8a6b;
  --color-secondary: #d9d9d9;
  --color-tertiary: #fbef76;
  --color-accent: #fec288;
}
